body {
    margin: 0px;
}

#pageContainer {
    height: 655dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#navContainer {
    background-color: aquamarine;
    text-decoration: none;
    padding: 0 40px 0 40px;
    display: flex; align-items: center; justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

#bannerSection {
    background-color: black;
}

#overviewSection {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
}